
body {
  background: #e3e3e3;
}

.serif {
  font-family: 'Playfair Display', serif;
}

.section {
  @extend .bg-dark, .shadow, .container, .p-2; 
  max-width: 1000px;
}

.input-text {
  @extend .form-control, .m-1;
}

.alert-box {
  @extend .alert, .alert-dark, .shadow, .m-3;
}

.button {
  @extend .btn, .m-1;
  line-height: 1;
  padding: 10px 12px;
}

.button-dark {
  @extend .button, .btn-dark;
}

.button-light {
  @extend .button, .btn-secondary, .text-nowrap;
}

.button-red {
  @extend .button, .btn-danger;
  background: #441111;
}

.fa {
  @extend .mb-2;
}
