
body {
  background: #e3e3e3;
}

.serif {
  font-family: 'Playfair Display', serif;
}

.Section {
  max-width: 1000px;
}

@import './components/LoadingIcon';

@import './components/Video/VideoEmbed';
@import './components/Video/VideoPreview';

@import './components/RequestChannel/RequestChannel';
@import './components/RequestChannel/Request';
@import './components/RequestChannel/AddRequest';
@import './components/RequestChannel/RequestVoting';

